.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-header {
  padding-top: 2.5rem;
}

.secondary-header-wrapper.container {
  position: relative;
  width: min(95%, calc(70em + 3rem));
}

.secondary-header {
  position: absolute;
  top: 2.5rem;
  width: 100%;
}

.nav-toggle {
  border: 0;
  background-color: transparent;
  background-image: url('./assets/menu.svg');
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.nav-list {
  display: flex;
  align-items: center;
}

@media(max-width: 35em) {
  .primary-nav {
    padding: 2em;
    border-radius: .35rem;
    position: fixed;
    inset: 6rem 2rem auto 2rem;
    z-index: 100;
    background-color: #fff;
    transform-origin: top;
    box-shadow: 1px 1px 10px #a6a6a6;
  }

  .nav-list {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .nav-link {
    color: #fff;
    font-size: 1.5rem;
  }
}


@media(min-width: 35em) {
  .nav-toggle {
    display: none;
  }

  .primary-nav {
    display: flex;
    justify-content: space-between;
    margin-left: clamp(1rem, 4vw, 3rem);
  }

  .nav-list {
    flex-direction: row;
    gap: clamp(1rem, 4vw, 3rem);
  }
}

.section-text {
  max-width: 600px;
}

.hero {
  margin-block: min(7vw, 5rem) 5rem;
}

.avatars {
  max-width: 250px;
}


@media(min-width: 50em) {
  .socials {
    float: right;
    width: 70% !important;
  }

  .hero-img {
    transform: translate(-30px, -30px);
  }
}

.footer {
  margin-top: 4rem;
  padding-block: min(8vw, 3.5em);
  background-color: var(--clr-neutral);
}

.footer-intro {
  max-width: 45ch;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 6rem;
}

@media(min-width: 50em) {
  .footer-container {
    flex-direction: row;
  }
}

/* sign up */
.sign-up-page {
  min-height: 100vh;
  background: linear-gradient(to right, #fcf5f9 0%, #efccf4 19%, #fad3ff 30%, #fad3ff 51%, #ffdafa 70%, #fcf5f9 100%);
  background-size: 10000px 100%;
  animation: bg-animation 15s linear infinite;
}

@media(min-width: 50em) and (max-width: 75em) {
  .sign-up-page {
    padding-left: 2em;
  }
}

.sign-up-page .title {
  margin-left: -1.5rem;
  margin-bottom: 1.5rem;
}

.sign-up-page-text {
  width: min(80%, 500px);
  margin-inline: auto;
}

@media(max-width: 50em) {
  .sign-up-page-text {
    margin-top: 7rem;
  }
}

.sign-up-page .container {
  width: min(95%, 70em);
  justify-content: space-between;
  gap: min(7vw, 3rem);
}

.sign-up-box .btn {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.sign-up-box {
  max-width: min(93.5%, 550px);
  margin-inline: auto;
  border-radius: .35rem;
  background-color: #fff;
  padding: min(7vw, 3.5em);
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 10000px;
  }
}

.sign-up-list li {
  max-width: 450px;
  text-indent: -2.1rem;
}

.sign-up-list li::before {
  font-size: 1.5rem;
}

.sign-up-list li:nth-child(1)::before {
  content: '🎈';
}

.sign-up-list li:nth-child(2):before {
  content: '🗞️';
}

.sign-up-list li::before {
  content: '💡';
}