:root {
  --clr-accent: #664efc;
  --clr-neutral: #fdfcf9;
  --border: #c5c4c4;
  --fs-900: 2.6rem;
  --fs-800: 1.8rem;
  --fs-700: 1.2rem;
  --fs-600: 1.1rem;
  --fs-500: 1.02rem;
}

@media(min-width: 30em) {
  :root {
    --fs-900: 2.8rem;
    --fs-800: 2.1rem;
    --fs-700: 1.3rem;
    --fs-600: 1.15rem;
    --fs-500: 1.04rem;
  }
}

@media(min-width:60em) {
  :root {
    --fs-900: 3.3rem;
    --fs-800: 2.4rem;
    --fs-700: 1.5rem;
    --fs-600: 1.3rem;
    --fs-500: 1.06rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input {
  border: 1px solid var(--border);
  border-radius: .25rem;
  width: 100%;
  padding: 1.25em;
}


.input:focus {
  outline: 1px solid var(--clr-accent)
}

.checkbox {
  margin-top: .2rem;
}

.checkbox:checked,
.checkbox:not(:checked) {
  cursor: pointer;
  display: grid;
  place-items: center;
  appearance: none;
  -webkit-appearance: none;
  min-width: 1.3em;
  height: 1.3em;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
}

.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  display: inline-block;
  opacity: 0;
  transform-origin: bottom left;
  background-color: var(--clr-accent);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked {
  border-color: var(--clr-accent);
  background-color: var(--clr-accent);

}

.checkbox:checked::before {
  background-color: #fff;
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fw-500 {
  font-weight: 500;
}

.w-100 {
  width: 100%;
}

.text-accent {
  color: var(--clr-accent);
  font-weight: 500;
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--gap, .5rem);
}

.flex-start {
  display: flex;
  align-items: flex-start;
  gap: var(--gap, .5rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow>*+* {
  margin-top: var(--flow-space, 1rem);
}

.container {
  width: min(90%, 80em);
  margin-inline: auto;
}

.even-cols {
  display: flex;
  gap: 1.5rem;
  flex-direction: column-reverse;
}

.even-cols:last-of-type {
  flex-direction: column;
}

.section:last-of-type {
  margin-top: 3rem;
}

@media(min-width: 50em) {
  .even-cols {
    flex-direction: row !important;
    align-items: center;
    gap: var(--gap, 0);
  }

  .even-cols>div,
  .even-cols img {
    width: 50%;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1,
h2,
h3 {
  line-height: 1.3em;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

main {
  display: grid;
  gap: 4rem;
}

p,
.footer-li {
  color: #7f7f7f;
}

.link {
  display: inline-block;
}

.link:hover,
.hover-underline:hover {
  text-decoration: underline;
}

.shapes-wrapper {
  background-color: #daa5ed;
}

.shapes-wrapper,
.animated-shape {
  position: absolute;
  filter: blur(2.5rem);
  width: 300px;
  height: 300px;
  z-index: -1;
}

.shape-1 {
  background-color: #ebcbf7;
}

.shape-2 {
  background-color: #f3dced;
  border-radius: 100vmax;
}

.shape-3 {
  background-color: #fbf0ee;
}

.btn {
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  border-radius: .25rem;
  padding: 1em;
  display: inline-block;
  color: #fff;
  transition: background-color .25s ease, color .25s ease;
}

.btn:hover {
  background-color: var(--clr-neutral);
  color: var(--clr-accent);
}


.btn-icon {
  display: grid;
  place-items: center;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: .25rem;
  border: 1px solid var(--border);
}